name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        ghc: ['9.6.7', '9.4.8', '9.2.8']
        cabal: ['3.10']
    
    name: GHC ${{ matrix.ghc }} / Cabal ${{ matrix.cabal }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup Haskell
      uses: haskell-actions/setup@v2
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}
    
    - name: Cache cabal store
      uses: actions/cache@v3
      with:
        path: |
          ~/.cabal/store
          ~/.cabal/packages
          dist-newstyle
        key: ${{ runner.os }}-cabal-${{ matrix.ghc }}-${{ hashFiles('**/*.cabal', '**/cabal.project') }}
        restore-keys: |
          ${{ runner.os }}-cabal-${{ matrix.ghc }}-
          ${{ runner.os }}-cabal-
    
    - name: Update cabal package list
      run: cabal update
    
    - name: Build dependencies
      run: cabal build --only-dependencies --enable-tests
    
    - name: Build project
      run: cabal build --enable-tests
    
    - name: Run tests
      run: cabal test --test-show-details=direct