name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    name: Build and Test
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup Haskell
      uses: haskell-actions/setup@v2
      with:
        ghc-version: '9.6.7'
        cabal-version: '3.10'
    
    - name: Cache cabal store
      uses: actions/cache@v3
      with:
        path: |
          ~/.cabal/store
          ~/.cabal/packages
          dist-newstyle
        key: ${{ runner.os }}-cabal-9.6.7-${{ hashFiles('**/*.cabal', '**/cabal.project') }}
        restore-keys: |
          ${{ runner.os }}-cabal-9.6.7-
          ${{ runner.os }}-cabal-
    
    - name: Update cabal package list
      run: cabal update
    
    - name: Build dependencies
      run: cabal build --only-dependencies --enable-tests
    
    - name: Build project
      run: cabal build --enable-tests
    
    - name: Run tests
      run: cabal test --test-show-details=direct